.sideMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 22px 0px 18px;
     width: 200px;
    /* height: 720px; */
    left: 0px;
    top: 0px;
    /* height: 1000px; */
    background: #0D3F4B;
    /* position: relative;  */
    overflow: hidden;
}
.sideDiv{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    color: white;
}
.recruitment{
    width: 85px;
    height: 14px;
    /* left: 24px; */
    /* top: 0px; */
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 450;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15em;
    color: #EBBE21 !important;
    margin-top: 25px;
    /* margin-left: 25px; */
    padding: 14px 24px;
    margin-bottom: 8px;
    margin-left: 24px;
    
}
.collapseDiv{
    /* display: flex; */
    /* justify-content: space-evenly; */
    /* display: flex; */
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 0px 24px;
    gap: 13px;
    /* position: absolute; */
    /* width: 200px; */
    height: 44px;
    left: 0px;
    top: 22px;
    color: white;
    padding: 14px 24px;
}
.collapseDiv:hover{
    background: rgba(255, 255, 255, 0.15);
    border-right: 6px solid #36C185;
}  
.jobSSiderDiv,.candidatesSideDiv{
    display: flex;
    /* justify-content: space-evenly; */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 0px 24px;
    gap: 13px;
    /* position: absolute; */
    width: 200px;
    height: 44px;
    left: 0px;
    top: 22px;
    color: white;
    
}
.contactSupportText{
    /* text-decoration-line: underline; */
    border-bottom: 2px solid;
    

/* Graph Colors/IDP - Primary Lt3 */

color: #36C185;
}
.menuDiv{
    background: none;
    align-items: center;
    padding: 0px 0px 0px 24px;
    border-right: 3px solid #36C185;
    color:white !important;
    height:0
}
.menuDiv:hover, .menuDiv::selection,.menuDiv:focus,.ant-menu-item-selected{
    background: rgba(255, 255, 255, 0.15) !important;
    border-right: 3px solid #36C185;
    color: white !important;
}
.lineLayer{
    border-top: 1.25px solid #FFFFFF;
    opacity: 0.1;
    margin-bottom: 16px;
}